<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      *ngIf="router.url !== '/login'"
    >
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>GS3</ion-list-header>
          <ion-note>hi&#64;{{ user.nome }}</ion-note>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              *ngIf="p.permission == true"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-content [fullscreen]="true">
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>{{ folder }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <div id="container" *ngIf="router.url === '/folder/home'">
        <div>
          <strong class="capitalize">Informações sobre a GS3</strong>
        </div>
      </div>
      <ion-list *ngIf="router.url === '/folder/perfil'">
          <ion-list>
            <ion-item>
              <ion-input
                label="Nome"
                placeholder="Digite seu nome"
                value="{{user.nome}}"
                [(ngModel)] = "nomeUsuario"
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                label="E-mail"
                type="email"
                value="{{user.email}}"
                placeholder="email@domain.com"
                [(ngModel)] = "emailUsuario"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-button (click)="updateProfile()">Enviar</ion-button>
            </ion-item>
          </ion-list>
      </ion-list>

      <div *ngIf="router.url === '/folder/administracao'">
        <ion-list>
          <ion-list>
            <ion-item-sliding *ngFor="let userProfile of users" >
            <ion-item *ngIf="userProfile.id != user.id">
              <ion-label>
                <ion-grid>
                  <ion-row>
                    <ion-col>{{userProfile.nome}}</ion-col>
                    <ion-col size="auto">
                      <div style="width: 180px">
                        <ion-item>
                          <ion-select
                            placeholder="Selecione"
                            value="{{userProfile.profile_id}}"
                            name="{{userProfile.profile_id}}"
                            (ionChange)="updateProfileUser($event.target.value)"
                          >
                            <ion-select-option
                              *ngFor="let item of profiles"
                              value="{{item.id}}"
                              >{{item.name}}</ion-select-option
                            >
                          </ion-select>
                        </ion-item>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="deleteUser(userProfile.id)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          </ion-list>
        </ion-list>
        <ion-fab horizontal="end" vertical="bottom" slot="fixed">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </ion-content>
  </ion-split-pane>
</ion-app>
