.page-login{
    text-align: -webkit-center;
    top: 25%;
}
.form-login{
    padding: 20px;
}
.card{
    width: 35%;
    padding: 20px 0px;
}
ion-button{
    width: 75%;
}
@media only screen and (max-width: 787px) {
    .card{
        width: 100%;
    }
}
ion-card{
    padding: 20px 0px;
}